logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
.bower_components/

dist/
build/
out/

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.orig

.vscode/
.idea/
*.code-workspace

*.~lock.*
*.~u~

*.tmp
*.temp

*.rej
*.patch

package-lock.json
yarn.lock
pnpm-lock.yaml

/.parcel-cache/
/.svelte-kit/
/.husky/_/

__pycache__/
*.pyc

*.o
*.so
*.exe

*.class
*.jar
.gradle/
.mvn/

db.sqlite3
*.sql
.migrations/