:root {
  /* Colors */
  --background-color: hsl(0, 0%, 100%);
  --primary-color: hsl(218, 44%, 22%) ;
  --secondary-color: hsl(216, 15%, 48%);
  --tertiary-color: hsl(212, 45%, 89%);

  /* Typography */
  --font-family: 'Outfit', sans-serif;

  /* Heading Styles */
  --font-size-heading: 1.375rem;
  --line-height-heading: 1.2;
  --letter-spacing-heading: 0;

  /* Weights */
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  /* Paragraph Styles */
  --font-size-paragraph: 0.9375rem;
  --line-height-paragraph: 1.4;
  --letter-spacing-paragraph: 0.0125rem;
  --text-shadow-paragraph: 0 4px 4px rgba(0, 0, 0, 0.25);

  /* Border Radius */
  --border-radius: 20px;

  /* Spacing */
  --spacing-small: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2.5rem;

  /* Card */
  --border-radius-card: 10px;
  --max-width-info: 16rem;
  --box-shadow-card: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);

  /* Image */
  --width-image: 288px;
  --border-radius-image: 0.625rem;
}